.bc-tooltip{
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.9);
    border: none !important;
    padding: 0;
    color: #eeeeee !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
    font-weight: normal !important;
    position: fixed;
    z-index: 1000000000;
}

.bc-tooltip-content{
    color: #eee;
    padding: 2px 4px;
    font-size: 0.85rem;
}

.bc-dropdown-menu-left {
  right: auto;
  left: 0;
}

.bc-dropdown-menu-right {
  right: 0;
  left: auto;
}
